# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
  name = Alberto Rocha
  email = betoharres@gmail.com
[core]
  editor = vim
[alias]
  # A #########
  a = add
  # B #########
  b   = branch
  # C #########
  c   = commit
  cm  = commit -m
  ca  = commit --amend
  cl  = clone
  cld = clone --depth 1
  co  = checkout
  # D #########
  d   = diff
  # L #########
  l   = log
  # M #########
  m   = merge
  # P #########
  p   = push
  pf  = push -f
  pu  = pull
  puu = pull upstream
  puo = pull origin
  # R #########
  reh = reset --hard
  res = reset --soft
  # S #########
  s   = status
  st  = stash
  sta = stash apply
  stl = stash list
[merge]
    tool          = vimdiff
    conflictstyle = diff3
    prompt        = false
