*
!.zshrc
!.zshrc.osx
!.zshrc.linux
!.vimrc
!.vimrc.bundles.linux
!.vimrc.bundles.osx
!.aliases
!.aliases.linux
!.aliases.osx
!.gitignore
!.gitconfig
!.tmux.conf
!.tmux.conf.linux
!.tmux.conf.osx
!.fzf.zsh
!.fzf.bash
.secrets
